/**
 * Template Variables
 */
@base-path: "";
@icon-font-path: "@{base-path}/fonts/";

/**
 * Navbar Dark
 *
 * Basics
 */
@navbar-dark-color    : #fff;
@navbar-dark-bg       : #10507c;
@navbar-dark-bg-alpha : #10507c;
@navbar-dark-border   : darken(@navbar-dark-bg, 6.5%);

/**
 * Links
 */
@navbar-dark-link-color          : #fff;
@navbar-dark-link-hover-color    : #eee;
@navbar-dark-link-hover-bg       : #289;
@navbar-dark-link-active-color   : #eee;
@navbar-dark-link-active-bg      : darken(@navbar-dark-bg, 6.5%);
@navbar-dark-link-disabled-color : #ddd;
@navbar-dark-link-disabled-bg    : transparent;

/**
 * Brand Label
 */
@navbar-dark-brand-color       : @navbar-dark-link-color;
@navbar-dark-brand-hover-color : darken(@navbar-dark-brand-color, 10%);
@navbar-dark-brand-hover-bg    : transparent;

/**
 * Toggle
 */
@navbar-dark-toggle-hover-bg     : @navbar-dark-link-hover-bg;
@navbar-dark-toggle-icon-bar-bg  : #888;
@navbar-dark-toggle-border-color : #fff;